
  
  /* cleared */

  .Projects, .Education, .Experience, .AboutMe, .Contact{
    background-color: #ffffff;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;

  }

#projects, #education, #experience, #aboutme{
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

  
  .share{
    width: 40px;
    height: 40px;
  }

  h2 {
    font-size: 2.5em;
    text-align: center;
  }
  
  h3 {
    font-size: 1.8em;
  }
  


  #arrowbutton{
    display: block;
    margin: auto;
    background-color: #0077cc;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    font-size: 25px;
  }

  #arrowbutton:hover{
    background-color: #1584d3;
  }
  
  
  #resumeheader{
    background-color: #0059ff;
  }
  #resumeheader:hover{
    background-color: #ffffff;
    color: black;
  }

  a {
    color: #000000;
    text-decoration: underline;
  }
  a:hover {
    color: #0059ff;
  }


  #foot {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2vh;
    background-color: white;
    
  }
  
  li {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  li:before {
    color: #000000;
    font-weight: bold;
    font-size: 1.5em;

  }

  #email {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  .links-container img {
    margin-right: 10px;
  }