.Projects, .Education, .Experience, .AboutMe, .Contact{
    margin: auto;
    max-width: 800px;
    padding: 20px;
  }
  
.share{
  width: 40px;
  height: 40px;
}
  h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-align: center;
  }
  
  h3 {
    font-size: 1.8em;
    margin-top: 40px;
  }
  
  #arrowbutton{
    display: block;
    margin: auto;
    background-color: #0077cc;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
  }

  #arrowbutton:hover{
    background-color: #1584d3;
  }

  ul {
    margin-bottom: 30px;
  }
  
  li {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  li:before {
    color: #000000;
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1em;
    vertical-align: middle;
  }
  
  #resumeheader{
    background-color: #0059ff !important;
  }
  #resumeheader:hover{
    background-color: #ffffff !important;
    color: black;
  }

  a {
    color: #000000;
    text-decoration: underline;
  }
  a:hover {
    color: #0059ff;
  }

  #foot {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .links-container img {
    margin-right: 10px;
  }

  #email {
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .Contact{
    text-align: center;
  }
  