/* cleared */
html {
  scroll-behavior: smooth;
}

.photopage:hover{
  filter: brightness(120%);
}

body {
  overflow-x: hidden;
  background-color: #18191b;
}

.LandingPage {
  text-align: center;
}

#lp-head, #lp-text{
  margin: 0;
  padding: 0;
}

.landingPageText{
  margin-top: 35px;
}

#headerbanner {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  z-index: 1;
}

.header{
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  color: white;
  font-size: calc(10px + 1vmin);
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  padding: 0.9vh 2.2vh;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 8px;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.header:hover{
  background-color: #2e6bff;
  color: white;
}


#photobutton{
  font-size: calc(8px + 1vmin);
  padding: 6px 12px;
}

#photobutton:hover{
  background-color: red;
}

#exploreButton {
  font-size: calc(10px + 1vmin);
  padding: 12px 30px;
}

#exploreButton, #photobutton{
  border: none;
  transition: background-color 0.3s ease;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  color: white;
}

#exploreButton:hover {
  background-color: #2e6bff;
}

#dp {
  padding-top: 20px;
  width: 20vh;
  height: 20vh;
}


#bike{
  height: 5vmin;
  pointer-events: auto;
  width: 7hh;
  height: 7vh;
}

.LP-header {
  min-height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-direction: column;
  background-color: #18191b;
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes moveLeft{
  0% {
    transform: translateX(28vw);
  }
  100% {
    transform: translateX(-28vw);
  }
}

@keyframes moveRight{
  0% {
    transform: translateX(-28vw);
  }
  100% {
    transform: translateX(28vw);
  }
}

.shake{
  animation: shake 2s;
}
/* this was taken from w3 schools */
@keyframes shake {
  0% { transform: translate(0, 0) rotate(0deg); }
  10% { transform: translate(-10px, 0) rotate(-5deg); }
  20% { transform: translate(10px, 0) rotate(5deg); }
  30% { transform: translate(-10px, 0) rotate(-5deg); }
  40% { transform: translate(10px, 0) rotate(5deg); }
  50% { transform: translate(-10px, 0) rotate(-5deg); }
  60% { transform: translate(10px, 0) rotate(5deg); }
  70% { transform: translate(-10px, 0) rotate(-5deg); }
  80% { transform: translate(10px, 0) rotate(5deg); }
  90% { transform: translate(-10px, 0) rotate(-5deg); }
  100% { transform: translate(0, 0) rotate(0deg); }
}


.blue-bike{
  animation: moveRight 10s linear infinite;
}

.red-bike {
    animation: moveLeft 7s linear infinite;
}

.green-bike {
    animation: moveLeft 9s linear infinite;
}

.blue-bike:hover, .green-bike:hover {
  animation-play-state: paused;
}

#bike:hover{
  filter: brightness(120%);
}