html {
  scroll-behavior: smooth;
}


.LandingPage {
  text-align: center;
}

#lp-head{
  margin: 0;
  padding: 0;
}
#lp-text{
  margin: 0;
  padding: 0;
}

.landingPageText{
  margin-top: 30px;
}

#headerbanner {
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 20px;
  width: 100%;
  z-index: 1;
}

.header{
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  padding: 6px 24px;
  margin-right: 10px;
  margin-top: 0px;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

.header:hover{
  background-color: #2e6bff;
}

#exploreButton {
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  outline: none;
  transition: background-color 0.3s ease;
}

#exploreButton:hover {
  background-color: #2e6bff;
}

#dp {
  pointer-events: auto;
  padding-top: 20px;
  width: 150px;
  height: 150px;
  animation: none; /* Add this line */
}

.resume {
  height: 5vmin;
  pointer-events: auto;
  width: 50px;
  height: 50px;
  animation: none; /* Add this line */
}

.resume:hover {
  filter: brightness(130%);
}


.blue-bike{
  height: 5vmin;
  pointer-events: auto;
    width: 50px;
    height: 50px;
    animation: bike-icon-rightToLeft 15s linear infinite;
}

.plane {
  height: 5vmin;
  pointer-events: auto;
    width: 200px;
    height: 200px;
    animation: bike-icon-rightToLeft 40s linear infinite;
}

.blue-bike {
  height: 5vmin;
  pointer-events: auto;
    width: 50px;
    height: 50px;
    animation: bike-icon-rightToLeft 15s linear infinite;
}

.blue-bike:hover, .green-bike:hover {
  animation-play-state: paused;
  filter: brightness(130%);
}


.red-bike {
  height: 5vmin;
  pointer-events: auto;
    width: 50px;
    height: 50px;
    animation: bike-icon-leftToRight 7s linear infinite;
}

.red-bike:hover{
  filter: brightness(130%);
}

.green-bike {
  height: 5vmin;
  pointer-events: auto;
    width: 50px;
    height: 50px;
    animation: bike-icon-leftToRight 10s linear infinite;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-leftToRight infinite 5s linear;
  }
}

.LP-header {
  background-color: #1b2129;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #198dda;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bike-icon-rightToLeft{
  from {
    transform: translateX(-1000%);
  }
  to {
    transform: translateX(+1000%);
  }
}

@keyframes bike-icon-leftToRight{
  from {
    transform: translateX(+1000%);
  }
  to {
    transform: translateX(-1000%);
  }
}
